<div class="container-fluid  ">
    <div class="row vh-100">
        <div class="col-12 sidebar p-2">
            <div class="title">
                <h5>UMS</h5>
            </div>
            <div class="content justify-content-center align-items-center  d-flex mt-5" *ngIf="user">
              <img src="assets/user.jpg" alt="">
            </div>
            <div class="content mt-2">
                <h6 class="text-center">{{user.firstName}} {{user.lastName}}</h6>
            </div>
            <div class="content mt-1">
               <p class="text-center ">Admin</p>
            </div>
            <div class="list d-flex flex-column mt-5  ">
                <ul class="list-unstyled">
                    <li > 
                       <i class="fa-solid fa-house "></i>
                        <a href="" class="text-decoration-none">Home</a>
                    </li>
                    <li class="mt-4 active-menu-item">
                    <i class="fa-solid fa-users"></i>
                         <a href="" class="text-decoration-none" routerLink="/users-list">Users</a>
                        </li>
                    <li class="mt-4">
                        <i class="fa-solid fa-user-plus "></i>
                         <a  class="text-decoration-none" routerLink="/form">Add User</a>
                        </li>
                    <li class="mt-4"> 
                        <i class="fa-solid fa-id-card-clip"></i>
                        <a href="" class="text-decoration-none" routerLink="/profile">Profile</a>
                    </li>

                </ul>
            </div>
            <div class="logout mt-5 ">
                <a  class="text-decoration-none"  (click)="logout()" >Logout 
                    <i class="fa-solid fa-right-from-bracket"></i>
                </a>
            </div>
        </div>
    </div>
</div>